body, html {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(81, 231, 181, 0.877);
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid rgba(81, 231, 181, 0.877);
}

table {
    align-content: center;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    align-content: center;
    margin-top: 20px;
    background-color: rgba(81, 231, 181, 0.877);
}

#content {
    box-align: center;
    width: 70%;
    background-color: rgba(81, 231, 181, 0.877);
    
}
